
.login{
  text-align:center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#881c1c;
  padding:7%;
border-radius: 15px;
}

.login > input{
  padding: 5px;
  text-align:center;
  background-color:white;
}
