<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<img src ="../images/inspire logo.jpg" width =25% align ="middle"> 

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<p>hi, here are some links to get started </p>
	<a href="../login"> click here to login to retrieve your profile</a>
	<a href="../"> tbd link to how inspire works. pics </a>


	<a href="../user/online"> Here is a current list of online users</a>
	<br>

<a href="../user/logout"> click here to logout</a>
  </body>
</html>