<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="box">
</div>
<div class="login">
    <form method="post" action="/user/auth">
      <input type="text" name="username" placeholder="Username"> <br>
<p></p>      
<input type="password" name="password" placeholder="Password"> <br>
      <button>Login</button>
    </form>
</div>
  </body>
</html>