<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='/header.html'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/content_fadein.js"></script>
  </head>

  <body>
	<div id="header"></div>
  <script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;
	// Grab DOM from warning.html's document.
	var el = content.querySelector('#headerbanner');
    	document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#student_menu'); 
  	document.body.appendChild(el2.cloneNode(true));
  </script>

<div id ="content" class = "contentview">
    <div><%= message %></div>

<div id = "todo">
 <ul>
<li>feedback said the logos cheezy
<br> anyone good with photoshop or graphics design? lol
<br></li><br>
<li> add front page menu bar simular to students. have main,login,signup, howitworks, aboutus
<br> open /public/index.html and add it as a div id frontmenu
<br> import it into the front pages, by js script above <<< change to #frontmenu
<br></li><br>
<li> create pages howitworks and about us
<br> open /routes/homepage.js and add the route handler and the render view instructions
<br> create /view/frontpage/xxxx.ejs and add the content for these 2 pages
<br></li><br>
<li> in my classes, and list of classes, pull data using a query into dynamic tableS
<br> add query in /lib/db/index.js
<br> modify dynamic table to take in json in /public/javascript/table.js
<br> modify views to add a buttom or text field to retrieve table
<br> in /view/student/myclass.ejs and schedule.ejs
<br></li><br>
<li> add new ajax fade in info boxes on hover , and other fade ins or click buttons
<br> create ajax codes in /pubic/javascript
<br> call the codes by import link on the /views/..., and use it in the public/stylesheet....
<br></li><br>
<li> lastly look into d3 ask how to import those methods into our sheet?
<br></li> 

</ul>
</div>

	<p>Here are some links to get started </p>
	<p><a href="../login"> Click Here </a> to login to retrieve your profile</p>
	<p><a href="../signup"> Signup an Account </a> join or create your group today!</p>
		

	<br>
	<br>
	<p><a href="../"> This is how inspire works </a> have pics/pdf slides </p>
	<br>

	

	<p><a href="../user/online"> Here is a current list of online users</a></p>
	<br>

</div>
  </body>
</html>