<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='../header.html'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/content_fadein.js"></script>
  </head>

  <body>
	<div id="header"></div>
  <script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;
	// Grab DOM from warning.html's document.
	var el = content.querySelector('#headerbanner');
    	document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#front_menu'); 
  	document.body.appendChild(el2.cloneNode(true));
  </script>

<div id ="content" class = "contentview">
    	<h1><div><%= message %></div></h3>
		<h3> google drive video on how this site works </h3>
		<a href="https://drive.google.com/open?id=0BysEGDqMba8MZnJtYWM5cEtJQjA" target="blank">walk through how to use</a>
	
		<h3> Our codes in the git repo:</h3>
		<a href="https://github.com/yongbin999/team-inspire" target="blank">https://github.com/yongbin999/team-inspire </a>

		<br>
	<p><a href="../user/online"> Here is a current list of online users</a></p>
	<br>

</div>
  </body>
</html>