<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/login.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="import" href='/header.html'>
  </head>

  <body>
<div id="header"></div>
  <script>
var link = document.querySelector('link[rel="import"]');
    var content = link.import;
    // Grab DOM from warning.html's document.
    var el = content.querySelector('#headerbanner');
    document.body.appendChild(el.cloneNode(true));
	
	//var el2 = content.querySelector('#header_menu');
  	//document.body.appendChild(el2.cloneNode(true));
  </script>



<div id ="content">
<div class = "login">
<h3>Welcome to the <%= title %></h3>
<i>
-studentid: test, <br>
-adminid: admin pass:admin	
</i>	
<p><div><%= message %></div></p>

    <form method="post" action="/auth">
      <input type="text"  placeholder="Username" name="username"> <br>
      <input type="password" placeholder="Password" name="password"> <br>
	Admin User?:<input type="checkbox" name="isadmin" value ="true"> <br>
      <button>Login</button>
    </form>
    </div>
</div>
  </body>
</html>