<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class = "login">
    <form method="post" action="/auth">
      <input type="text"  placeholder="Username"> <br>
      <input type="password" placeholder="Password"> <br>
      <button>Login</button>
    </form>
    </div>
  </body>
</html>