<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<a href="../user/online"> click to see online user list</a>
    

<div><%= message %></div><br>

<p>Add new sub school group </p>
<form method="post" action="/admin/newgroup">
      Parent group :<input type="text" name="parent group"> <br>
	Subgroup Name: <input type="text" name="groupname"> <br>

      <button>Create Group</button>
    </form>

<br>
<a href="../logout"> click here to logout</a>

  </body>
</html>