
 <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='/header.html'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../javascripts/content_fadein.js"></script>
	<script src="../javascripts/displaytable.js"></script>
  <script src="../javascripts/getclasses.js"></script>

    <script>
    function table(x,y){
      $('#testing').append(displayTimes(x,y));
    }
    </script>

  </head>

  <body>
<div id="header"></div>
  <script>
	var link = document.querySelector('link[rel="import"]');
    var content = link.import;
    // Grab DOM from warning.html's document.
    var el = content.querySelector('#headerbanner');
    document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#student_menu');
  	document.body.appendChild(el2.cloneNode(true));
  </script>



<div id = "content" class = "contentview">


	<div id="testing" class= "schedule" align ="center">
	<br>

  <input id="x" type="text"  placeholder="x" name="x" value = "5">
  <input id="y" type="text"  placeholder="y" name="y" value = "5">
  <button id="foo")> display pre-req</button>

 </div>
    <script>
    displayTimes(4,5);
    console.log($("x"));

    $("#foo").click(function(){
      displayTimes($("x"),$("y"));
    });

    </script>

    <%=listclasses%>
<script>
list([11,2,36]);
list($("listclasses"));
</script>



</div>

 </body>
</html>