
 <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='/header.html'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../javascripts/content_fadein.js"></script>
	<script src="../javascripts/displaytable.js"></script>

  </head>

  <body>
<div id="header"></div>
  <script>
	var link = document.querySelector('link[rel="import"]');
    var content = link.import;
    // Grab DOM from warning.html's document.
    var el = content.querySelector('#headerbanner');
    document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#student_menu');
  	document.body.appendChild(el2.cloneNode(true));
  </script>



<div id = "content" class = "contentview">


	<div id="testing" class= "schedule" align ="center">
	<script >displayTimes(2,5)</script>

	<br><button>display pre-req</button>
	<script >displayTable(187)</script>
	</div>



<!-- get individual users data to display later -->
<table id="testing" class="schedule" align="center">
 <tbody>
  <tr align="center">
   <th>
     Monday
   </th>
   <th>
     Tuesday
   </th>
   <th>
     Wednesday
   </th>
   <th>
     Thursday
   </th>
   <th>
     Friday
   </th>
  </tr>
  <tr>
   <th>
     class1
   </th>
   <th>
     class4
   </th>
   <th>
     class1
   </th>
   <th>
     class4
   </th>
   <th>
     class1
   </th>
  </tr>
  <tr>
   <th>
     class2
   </th>
   <th>
     class5
   </th>
   <th>
     class2
   </th>
   <th>
     class5
   </th>
   <th>
     class2
  </tr>
  <tr>
   <th>
     class3
   </th>
   <th>
   </th>
   <th>
     class3
   </th>
   <th>
   </th>
   <th>
     class3
   </th>
  </tr>
 </tbody>
</table>


</div>

 </body>
</html>