<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/studentmain.css' />
  </head>

  <body>

<div id="header_image">
  <img src ="images/inspirelogo.jpg" width =10%> 
</div>


<div id="menuleft">
  <ul id="tabs">
    <li>
      <a href = "../">
        Homepage
      </a>
    </li>
    <li>
      <a href = "class">
        My Classes
      </a>
    </li>

    <li>
      <a href = "geneds">
        GenEd Requirements
      </a>
    </li>
    <li>
      <a href = "courses">
        List of courses
      </a>
    </li>

   </ul>
</div>


<div id="menuright">
   <ul id="tabs">
    <li>
      <a href = "settings">
        Settings
      </a>
    </li>
    <li>
      <a href = "../logout">
        Logout
      </a>
    </li>
  </ul>
</div>


<p>
<h1>Welcome to the Student Homepage</h1>
<h3>
<br>   <%= message %>. Hi user <%= username %>!
<br>   Here we have links to all the info that students will use to help plan your classes for the next few semesters.
</h3>
</p>


  <a href="../user/online"> Here is a current list of online users</a>
  <br>
<br>
  
<a href="tutorial"> click here to see a tutorial of how this site works</a>
  </body>
</html>