<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/studentmain.css' />
<link rel="import" href='/header.html'>
  </head>

  <body>
<div id="header"></div>
  <script>
    var link = document.querySelector('link[rel="import"]'); // this is located in /public folder
    // Clone the <template> in the import.
    var template = link.import.querySelector('template');
    var clone = document.importNode(template.content, true);
    document.querySelector('#header').appendChild(clone);
  </script>

<div id ="content">
<p><h1>Welcome to the Student Homepage</h1>
<h3>
<br>   <%= message %>. Hi user <%= username %>!
<br>   Here we have links to all the info that students will use to help plan your classes for the next few semesters.
</h3>
</p>

  <a href="online"> Here is a current list of online users</a>
  <br>
<br>
<a href="newpage"> click here to see a tutorial of how this site works</a>

</div>

  
  </body>
</html>