<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/studentmain.css' />
<link rel="import" href='/header.html'>
  </head>

  <body>
<div id="header"></div>
  <script>
    var link = document.querySelector('link[rel="import"]');
    // Clone the <template> in the import.
    var template = link.import.querySelector('template');
    var clone = document.importNode(template.content, true);
    document.querySelector('#header').appendChild(clone);
  </script>

<div id ="content" class = "contentview">
<p>
<h1>Welcome to the Student Homepage</h1>
<h3>
<br>   <%= message %>.
<br>   new page TBD
</h3>
</p>
</div>


  </body>
</html>